.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    list-style-type: none;
}

:root{
    --max-width_for_Desktop:1440px ;
    --max-width_for_Mobile:375px;
    --color1:hsl(213, 96%, 18%);
    --color2:hsl(243, 100%, 62%);
    --color3:hsl(228, 100%, 84%);
    --color4:hsl(206, 94%, 87%);
    --color5:hsl(354, 84%, 57%);
    --color6:hsl(231, 11%, 63%);
    --color7:hsl(229, 24%, 87%);
    --color8:hsl(217, 100%, 97%);
    --color9:hsl(231, 100%, 99%);
    --color10:hsl(0, 0%, 100%);
}
@font-face {
    font-family: 'Ub-Bold';
    src: url(./assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: 'Ub-Regular';
    src: url(./assets/fonts/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: 'Ub-Medium';
    src: url(./assets/fonts/Ubuntu-Medium.ttf);
}

body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    max-width: var(--max-width_for_Desktop);
    justify-self: center;
    align-self: center;
    grid-auto-rows: auto;
}
/*** First Part of the project ***/
.sidebar{
    grid-column: 1 / 2;
    background-color: var(--color3);
    padding: 1.3em;
    background: url(./assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px var(--color4) solid;
    text-align: center;
    padding: 5px;
    margin-right: 10px;
}
.sidebar ul li{
    display: flex;
    margin-bottom: 1.5em;
    font-family: 'Ub-regular';
    align-items: center;
   
}
.sidebar ul li div:nth-of-type(2) h3{
    text-transform: uppercase;
    color: var(--color8);
    margin-top: 0.3em;
    font-weight:800;
}
.sidebar ul li div:nth-of-type(2) p{
    text-transform:capitalize;
    color: var(--color5);
    font-weight:400;
    opacity: 0.6;
}
/*** End of First Part of the project ***/

/*************************************************/

/**********Second Part of the project ***********/
.asidebar{
    grid-column: 2 / 3;
    background-color: var(--color2);
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
}
.step1, .step2 , .step3 , .step4{
    width: 50%;
    position: absolute;
}
/******* Step one start *****/
.step1{
    display: none;
}
.title{
    margin-bottom: 20px;
    font-family: 'Ub-medium';
}
.title h2{
    font-size: 1.8em;
    font-weight: 800;
}
.title p{
    color: var(--color7);
    font-size: 1em;
    font-family: 'Ub-Regular';
 }
.step1 form div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
form div input{
    padding: 0.5em;
    border-radius: 8px;
    cursor: pointer;
}

/********** Step one End *****/

/*****************************************/

/**********Step two start *************/
#section2{
    display: none;
}
.Plans{
    display: flex;
    justify-content: center;
    
}
.Plans div{
    min-width: calc(33.33% - 3vw);
    border: 2px var(--color7) solid;
    padding: 0.9em;
    max-height: 10rem;
    margin-right: 15px;
    border-radius: 10px;
    cursor: pointer;
}
.Plans div:hover{
    border: 2px var(--color1) solid;
}
.Plans div img{
    margin-bottom: 40px ;
}
.Plans div h4{
    font-weight: 800;
    font-family: 'Ub-Bold';
    margin-bottom: 0.2em;
}
.Plans div p{
    font-family: 'Ub-medium';
    font-size: 0.8em;
    color: var(--color7);
    margin-bottom: 0.5em;
}
.toggle{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    justify-content: center;
    max-width: 80%;
    padding: 0.5em;
    background-color: var(--color7);
    border-radius: 18px;
}
.toggle .tog-out{
    position: relative;
    width: 50px;
    max-height: 20px;
    border-radius: 20px;
    background-color: var(--color1);
    margin: 0 14px;
    padding: 0.3em;
}
.toggle .tog-out .tog-ball{
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--color8);
    top: 5%;
    left: 2%;
    cursor: pointer;
}
.toggle .tog-out .tog-ball:hover{
    background-color: var(--color2);
    opacity: 0.5;
    transition: 0.5s;
}

/************step two end ************/

/***********************************************************/

/***** Step three Start *************/
#section3{
    display: none!important;
}

#detail_head{
    display: flex;
    flex-direction: column;
}
.details{
    display: flex;
    flex-direction: column;
    font-family: 'Ub-Regular';
    
}
.details .box{
    margin-bottom: 1.2em;
    border: 1px var(--color7) solid;
    display: flex;
    padding: 0.5em;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;   
}
.box .adds-offer{
    margin-left: 20px;
}
.box .adds-offer p{
    color: var(--color7);
    font-size: 0.9em;
    margin-top: 2.5px;
}
.checkmark{
    height: 18px;
    width: 18px;
    background-color: var(--color2);
    border-radius: 5px;
    text-align: center;
}
.checkmark div{
    margin-left: 20px;
}
.box .prices{
    margin-right: 20px; 
    flex: 1;
    text-align: end;
    color: var(--color2);
    font-size: 0.9em;
}

/****** Step three end ************/

/*************************************/

/*******Step four start **************/
#section4{
    display: none;
}
.finishing_center{
    background-color: var(--color7);
    padding: 1.2em;
    width: 100%;
    margin-bottom: 1.2em;
    font-family: 'Ub-Regular';
}
.listingnprice {
    display: flex;
    flex-direction: column;
}

.listingnprice div{
    display: flex;
    flex: 1;
    margin: 1em 0;
    font-size: 0.5em;
}
.listingnprice div h3:nth-of-type(1){
    flex: 1;
}
.listingnprice div p:nth-of-type(1){
    flex: 1;
}
.totaling{
    display: flex;
    flex: 1;
}
.totaling p{
    flex: 1;
}
.totaling p:nth-last-child(1){
    text-align: right;
    margin-right:0.5em ;
    padding: 0.6em;
}

/*********step four end **************/
/******************************************/
/***********step five start **************/
.step5{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    font-family: 'Ub-regular';
    text-align: center;
    align-items: center;
    justify-content: center;
}
.step5 h3{
    font-size: 2em;
    color: var(--color1);
    margin: 20px 0;
}
.step5 p{
    font-size: 0.9em;
    color: var(--color6);
}


/**************step five end***************/